/* :root {} */

@import url(./fonts/shnobel/index.css);

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.app__form {
  width: 100%;
}
@media screen and (min-width: 767px) {
  .app__form {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
}

.wrapper {
  padding-left: 3.5vmin;
  padding-right: 3.5vmin;
}
@media screen and (min-width: 767px) {
  .wrapper {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

.app__heading {
  font-size: 2.4em;
  line-height: 1.3;
  font-family: "Shnobel";
  text-align: center;
  font-weight: 300;
}
.app__heading_color_red {
  color: #7f4156;
}
.app__heading_is-striked_yes {
  text-decoration: line-through;
}
.app__heading_size_larger {
  font-size: 2em;
}